[submodule "themes/hugotex"]
	path = themes/hugotex
	url = https://github.com/kaisugi/HugoTeX.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
